<div class="row text-center mt-4">
  <div class="col-md-12">
    <h2><%= @person.name %></h2>
  </div>
</div>

<div class="row mt-4 poster-show-container">
  <div class="col-lg-6 col-md-12 poster-show-img">
    
    <% if @person.profile_path %>
      <%= image_tag('http://image.tmdb.org/t/p/w185/' + @person.profile_path, alt: @person.name, class: 'poster-img-md')%>
    <% else %>
      <%= image_tag("", alt: "No Poster", class: "animated slideInLeft no-img-preview-md") %>
    <% end %>

  </div>
  <div class="col-lg-6 col-md-12 poster-show-info mt-3 animated slideInRight">
    <h2><%= @person.name %></h2>
    <p> ID : <%= @person.person_id %></p>
    <p> BIRTH DAY : <%= @person.birthday %></p>
    <p> JOB : <%= @person.job %></p>
    <h4>Biography</h4>
    <p style="width:85%"> <%= @person.biography %> </p>

    <form action="/people/<%= @person.person_id %>/edit" method="get">
      <input type="submit" name="" value="Edit" style="" />
    </form>

    <form action="/people/<%= @person.person_id %>" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" name="" value="Delete" style="" />
    </form>

    <br/>
    <br/>

    <p>
      <%= link_to "< Previous",
        "/people", class: "btn btn-sm btn-danger mb-2"
      %>
    </p>
  </div>
</div>

<br/>
<br/>

<div class="row text-center mt-4">
  <div class="col-md-12">
    <h3>MOVIE</h3>

    <% @movies.each do |m|%>
      <% if m.poster_path %>
        <a href="/movies/<%= m.movie_id %>">
          <%= image_tag('http://image.tmdb.org/t/p/w185/' + m.poster_path, alt: m.title, class: 'poster-img', style:'margin:20px')%>
        </a>
      <% else %>
        <a href="/movies/<%= m.movie_id %>">
          <%= image_tag('', alt: m.title, class: 'no-img-preview-sm', style:'margin:20px')%>
        </a>
      <% end %>
    <% end %>

  </div>
</div>

<br/>
<br/>

<div class="row text-center mt-4">
  <div class="col-md-12">
    <h3>TV</h3>

    <% @tvs.each do |t|%>
      <% if t.poster_path %>
        <a href="/tvs/<%= t.tv_id %>">
          <%= image_tag('http://image.tmdb.org/t/p/w185/' + t.poster_path, alt: t.name, class: 'poster-img', style:'margin:20px')%>
        </a>
      <% else %>
        <a href="/tvs/<%= t.tv_id %>">
          <%= image_tag('', alt: t.name, class: 'no-img-preview-sm', style:'margin:20px')%>
        </a>
      <% end %>
    <% end %>
  </div>
</div>

<br/><br/>
<br/><br/>
